* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2rem, 62.5%);
  --text-color: #e1e1e6;
  --white-color: #fff;
  --grey-color: #c4c4cc;
}

html,
body,
button {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  background: url(../../assets/mountains-universe-2.png) no-repeat center
    center/cover;
  height: 100vh;
}

/*Universe*/

section {
  display: flex;
  flex-direction: column;
  margin: 20rem 0 0 10rem;
  gap: 2rem;
  
}

section h1 {
  color: var(--text-color);
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 125%;
}

section p {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  line-height: 2.8rem;
  width: 648px;
}
